*{
    margin: 0;padding: 0;
}
.main-div{
    height: 100vh;
    width: 100vw;
    background-color: rgb(201, 185, 185);
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.main-box{
    height: 250px;
    width: 400px;
    background-color: white;
    padding:50px;
}
.second-box{
    height: 50px;
    width: 500px;
    background-color: white;
}
.main-box h3{
    margin-top: 18px;
    font-size: 24px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}
.main-box input{
    border: none;
    border-bottom: 1px solid grey;
    height: 35px;
    width: 100%;
    margin-top: 10px;
    font-size: 15px;
}
.main-box p{
    margin-top: 15px;
    font-family: "Poppins", sans-serif;
    font-weight:300;
    font-size: 13px;
}
.home-btns{
    display: flex;
    align-items: end;
    justify-content: end;
}
.btn{
    margin-top: 80px;
    font-size: 13px;
    height: 28px;
    width: 30%;
    background-color: rgb(0, 93, 166);
    border: none;
    color: white;
    font-family: "Poppins", sans-serif;
}